server:
  port: 8200
spring:
  application:
    name: project-service
  jpa:
    open-in-view: false
  cloud:
    openfeign:
      client:
        config:
          default:
            loggerLevel: full
            requestInterceptors:
              - pl.altkom.springcloud.lab02.feign.projectservice.client.interceptor.RequestHeaderCustomizerInterceptor

pl:
  altkom:
    employee:
      url: http://localhost:8100
logging:
  level:
    pl.altkom.springcloud.lab02.feign.projectservice.client: DEBUG
